.cardContainer {
  @include centerCol;
  background-color: white;
  margin: 3rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  .divImg {
    @include center;
    width: 20rem;
    height: 20rem;
    border-bottom: 1px solid grey;
    margin-bottom: 10%;
    img {
      height: 65%;
    }
  }
  button {
    background-color: red;
    color: white;
    margin: 10% 0;
    padding: 2% 4%;
    box-shadow: 0px 0px 0.8rem 0px rgba(0, 0, 0, 0.207);
    border: none;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  button:hover {
    background-color: rgb(170, 0, 0);
  }
}
