.homeContainer {
  background-color: rgba(0, 0, 0, 0.95);
  .title {
    @include center;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
  }
  .home-subContainer {
    @include center;
    flex-wrap: wrap;
    padding: 2rem;
  }
}
